{% extends "base.html" %}

{% block title %}Seriesly Import Show Page - Seriesly!{% endblock %}

{% block body %}

{% include "announcement.html" %}

<section class="step">
<h3>Welcome {{name}}!</h3>
<p>Some description...</p>
<p><a href="{{logout_url}}">Logout</a></p>
</section>

<section class="step">
    <h3>Search Show</h3>
    <form method="post" action=".">
        <label>Enter Show Name here:</label>
        <input type="text" placeholder="Show name..." name="search_name" value="{{search_name}}" />
        <input type="submit" name="search_show" value="Search!" />
    </form>
    {% if show %}
    <p>I found {{show.name}} with Show ID {{show.tvrage_id}} for you!</p>
    {% endif %}
</section>

<section class="step">
    <h3>Add Show By ID</h3>
    <form method="post" action=".">
        <label>Enter TV Rage ID:</label>
        <input type="text" placeholder="1234" name="show" />
        <input type="submit" name="add_show" value="Submit Query" />
    </form>
</section>
{% endblock %}
{% block extra_js %}{% endblock  %}
